.gallery {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: centre;
  justify-content: centre;
}

img {
  margin: 10px;
  box-shadow: 4px 7px 45px -10px rgba(0,0,0,0.4);
  border-radius: 7px;
  transition: transform .2s;
}
 

img:hover {
  transform:rotate(90deg) ;
  transform:scale(1.05) ;
}

.h1 {
  font-family: 'Comfortaa', cursive;
}


.topnav {
  background-color: #333;
  overflow: hidden;
}


.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}


.topnav a:hover {
  background-color: #ddd;
  color: black;
}


.topnav a.active {
  background-color: #aa0449;
  color: white;
}

body, html {
  height: 100%;
}

.parallax {
  /* The image used */
  background-color: #ff7070 ;

  /* Full height */
  height: 100%;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.background a:hover {
  flex-grow: 1.2;
}

li{
  list-style-type: none;
  margin: 2vw 0;
  
  font-size: 3vh;
}

a{
  text-decoration: none;
  color: black;
  font-family: monospace;

  padding: 2vw;
}

nav{
  width: 100vw;
  background-color: #996063;
}

ul{
  display: block;
  margin: 0;
  padding: 0;
  
  display: flex;  
}

body{
  margin: 0;
}

button{
  display: none;
}

a:hover{
  background-color: #6b434c;
}

@media only screen and (max-width: 500px) {
  ul{
    flex-direction: column;
  }
  
  a{
    display: block;
  }
  
  li{
    margin: 0;
  }
  
  button{
    display: block;
    
    padding: 2vw;
    font-size: 3vh;
    background-color: #ffafb2;
    border: cadetblue;
    border-color: #ff91a3;
    outline: none;
    cursor: pointer;
    
    align-self: flex-start;
  }
}

.row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

/* Create two equal columns that sits next to each other */
.column {
  flex: 70%;
  padding: 0 4px;
}

.column img {
  margin-top: 8px;
  vertical-align: middle;
}

h1 {
  font-family: 'Barlow Condensed', sans-serif;
  text-align: center;
  text-shadow: #996060;
  font-size: 60;
  background-color: #b86a6a
  }
h2 {
  font-family: 'Comfortaa', cursive;
  background-color: #b86a6a;
  text-align: center;
  text-shadow: #996060;
  font-size: 20;
}
body {
  background-color: #b86a6a;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

a:hover {
  background-color: transparent;
  cursor: pointer;
}

a {
  height: 640;
  width: 480;
}

.animate__animated.animate__rollin {
  --animate-duration: 1.2s;
}